.button {
  font-family: 'Oxanium', sans-serif;
  font-size: 1em;
  background-color: var(--galaxy-color);
  padding: 1.5em 3em;
  border-color: lightblue;
  color: lightblue;
  box-shadow: 0 0 .25em .05em lightblue;

  &:hover {
    box-shadow: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
}
