@import url(https://fonts.googleapis.com/css?family=Oxanium:300);

.App {
  height: 100lvh;
  font-family: 'Oxanium', sans-serif;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 0.75em 0.75em 0.5em;
  background-color: var(--galaxy-color);
  z-index: 7;
}

.App-header h1 {
  font-size: 1.75em;
  font-weight: 500;
  margin: 0;
  color: hsl(203, 92%, 75%);
}
.App-header h1 span {
  color: lightblue; 
}

.App-header p {
  color: dimgray;
  margin: 0.25em 0;
}

.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--galaxy-color);
  color: dimgray;
  text-align: center;
  font-size: 0.75em;
}
